.section-container{
    background-color: rgb(167, 189, 177);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: .5em;
  }
  .section-body{
  align-self: center;
  width: 300px;
  
  }
  .headlines{
    text-align: center;
    font-size : 1.8em;
    padding : 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .headlines-container{
    display: grid;
    grid-template-columns: 280px;
    gap: 3em;
    justify-content: center;
    align-items: center;
  }
  .singleHeadlineContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .singleImageContainer{
    width: 100%;
    height: 300px;
  }
  .singleImageContainer img{
  width: inherit;
  height: inherit;
  }
  
  .headLineDataContainer{
    position: relative;
    top:-45px;
    left: 10px;
    background-color: white;
    width: 210px;
    height: 160px;
    padding: .5em;
  }
  .mainHeadLine{
    font-size: .8em;
    padding-bottom: .8em;
  }
  .headLineDescription{
    font-size : .6em;
  }
  .readMoreDiv a{
    text-decoration: underline rgb(77, 230, 63) 2px;
    text-align: center;
    font-size: .8em;
    padding-top: 2em;
    padding-bottom: 2em;
    color: black;
  }
  .readMoreDiv a:hover{
    color:red;
  }
  
  @media only screen and  (min-width:580px){
    .headlines-container{
      grid-template-columns: 480px;
      gap: 1.5em;
    }
    .section-body{
      width: 540px;
    }
    .headLineDataContainer{
      width: 310px;
      height: 160px;
      padding: 1.5em;
      left: 30px;
    }
  }
  @media only screen and (min-width:760px){
    .headlines-container{
      grid-template-columns: 640px;
      gap: 1.5em;
    }
    .section-body{
      width: 640px;
    }
  }
  @media only screen and (min-width: 990px){
    .headlines-container{
      grid-template-columns: 440px 440px;
      gap: 1.5em;
    }
    .headLineDataContainer{
      width: 230px;
      height: 130px;
      padding: 1.5em;
      left: 30px;
    }
  
  }
  @media only screen and (min-width : 1200px){
    .headlines-container{
      grid-template-columns: 490px 490px;
      grid-gap: 1.5em;
    }

  }